<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Banco de libros AMPA IES Astures</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{../img/favicon.jpg}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../vendor/aos/aos.css" rel="stylesheet">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link th:href="@{../css/style.css}" rel="stylesheet" />


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div id="logo">
                <h1>
                    <a href="@{/index}"><span>AMPA</span><img
						src="../img/logo.jpg" alt="" title="" />IES Astures</a>
                </h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" th:href="@{/}" th:text="#{menu.principal.inicio}">Inicio</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/gestion}">Gestion</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/user/consultas}">Consultas</a></li>
                    <!-- Opciones para idiomas -->
                    <li><a th:href="@{''(lang=es_ES)}">Español</a></li>
                    <li><a th:href="@{''(lang=en_GB)}">Inglés</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/login}" th:text="#{menu.principal.zonaprivada}">Zona Privada</a></li>
                    <!-- Desplegable para logout usuario logueado -->
                    <li class="dropdown"><a href="#"><span th:text="${#authentication.name}">Zona Privada</span> <i	class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Salir</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- Añadimos la acción de logout para que entre otras cosas limpie los datos de la sesión -->
            <form th:action="@{/logout}" method="POST" id="logoutForm"></form>

            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
    <!-- ======= inicio Section ======= -->
    <section id="identificar" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Gracias por tu tiempo</h2>
                <div class="card card-container">

                    <img id="profile-img" class="profile-img-card" src="../img/favicon.jpg" />
                    <p id="profile-name" class="profile-name-card"></p>

                    <div th:fragment="content">
                        <form name="f" th:action="@{/logout}" method="post" class="form-signin">
                            <fieldset>

                                <div class="form-group">
                                    <label class="form-control">¿Te vas?</label>
                                </div>

                                <div class="form-actions">
                                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="logout">Sí</button>
                                    <a th:href="@{/index}"><button class="btn btn-lg btn-red btn-block btn-signin">No</button></a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- ======= Footer ======= -->
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-6">
                    <div class="footer-logo">
                        <a class="navbar-brand" href="#">AMPA IES Astures</a>
                        <p>Asociación de Madres y Padres de Alumnos del IES Astures.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-6">
                    <div class="footer-logo">

                        <div class="credits">
                            <p>Diseñado por Patricia Jerez como Proyecto de fin de ciclo DAW 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/aos/aos.js"></script>
    <script src="../vendor/php-email-form/validate.js"></script>

    <script src="../vendor/swiper/swiper-bundle.min.js"></script>



    <!-- Template Main JS File -->
    <script src="../js/main.js"></script>

</body>

</html>